output*/*
output/*
.snakemake/*
Rplots.pdf
annotations/gencode.v38.annotation.k562_totalrna.gt1.tiled_partition.features.tsv.gz
annotations/gencode.v38.annotation.k562_totalrna.gt1.tiled_partition.nuc.gz
annotations/repeatmasker.grch38.sort.unique.bed.gz
annotations/repeatmasker.grch38.tsv.gz
benchmarks/*
example/fastqs/*
get_nt_coverage.sh
input_bams_filtered/*
input_bams_unfiltered/*
installation/UMICollapse-*/
land_ho.txt
logs/*
output/*
output_from_bam/*
output_from_fastq/*
stderr/
stdout/
.DS_Store
reference/*
NOTES.txt
skipper_rulegraph.pdf
scripts/*
skipper.log
